.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo {
  height: 200px;
  width: 250px;
}

/* div{
  background-color: rgb(252, 227, 248);
} */

.card-container {
  vertical-align: top;
  display: inline-grid;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
  
}

.card {
  font-size: large;
  font-style: italic;
  font-family: Trattatello fantasy;
  padding: 8px;
  /* width:17rem; */
  border-radius: 12px;
  /* border: 1px solid rgb(198, 198, 198); */
  box-sizing: border-box;
  width: 300px;
  height: 600px;
  /* background-color: ; */
  /* background-color: rgb(255, 255, 255); */
  /* color: white; */
}

.card-image {
  /* height: 50%;
  width: 50%; */
  width: 200px;
  border-radius: 12px;
  height: 350px;
    /* -webkit-transition: -webkit-transform 1s;  */
}

.cart-container {
  vertical-align: top;
  display: inline-grid;
  margin-top: 20px;
  margin-right: 100px;
  margin-left: 100px;
  
}
.cart-card {
  width: 300px;
  height: 600px;
  /* box-sizing: border-box; */
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  /* box-sizing: border-box; */
}

html {
  /* background-color: rgb(252, 227, 248); */
  background-color: white;
}
.card-button {
  background-color: rgb(229, 0, 114);
  height: 30px;
  color: white;
  border: white;
}
/* p {
  line-height: 20px;
} */
.nav-link {
  font-size: larger;
  word-spacing: 200px;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 30px;
  color: rgb(229, 0, 114);
}

.navbar {
  word-spacing: 200px;
}

.nav-cart {
  font-size: larger;
  text-decoration: none;
  color: rgb(229, 0, 114);
  margin-left: 95%;
  size: 70px;
}

/* .cart {

} */

.cart-image {
  width: 150px;
  border-radius: 12px;
  height: auto;
}
/* how do I remove line under navlinks?
   how do I space the words out?

*/









@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
